# These should not be here, actually, as they are not "web" related...
# I'm just (lazily) re-using an existing vagrant shared folder...
# Ideally: we should set-up another shared folder, for these!
/php-src-master.zip
/php-build/
