@charset "UTF-8";

/* @import "http://fonts.googleapis.com/css?family=Inconsolata:700,400"; */
@font-face {
    font-family: "SourceCodePro";
    font-style: normal;
    font-weight: normal;
    src: url("../lib/font/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype"),
        url("../lib/font/SourceCodePro/SourceCodePro-Bold.ttf") format("truetype")
    ;
}

@font-face {
    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: normal;
    src: url("../lib/font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype")
    ;
}

@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
    src: url("../lib/font/SourceSansPro/SourceSansPro-It.ttf") format("truetype")
    ;
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: bold;
    src: url("../lib/font/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype")
    ;
}

.reveal {
    font-family: "SourceSansPro", sans-serif;
    font-size: 4em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "SourceSansPro", sans-serif;
    letter-spacing: 0.02em;
    line-height: 1em;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    text-transform: none;
}

.reveal h1 {
    font-size: 2.6em;
}

.reveal h2 {
    font-size: 1.5em;
}

.reveal h3 {
    font-size: 1em;
}

.reveal p, .reveal ul>li {
    font-size: 1em;
}

.reveal ul>li>ul>li {
    font-size: 0.75em;
    /*line-height: 110%;*/
}

.reveal pre {
    width: 100%;
}

.reveal pre.big {
    font-size: 130%;
}

.reveal pre code {
    font-size: 115%;
    /* min-width: 110%; */
    max-height: 500px;
    padding: 8px 8px;
}

.reveal code {
    font-family: "SourceCodePro", monospace;
}

.reveal p>code, li>code {
    background-color: #F0F0F0;
}

.reveal section>ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.reveal section p {
    margin-top: 0.5em;
}

.reveal section img {
    max-width: 75%;
    border: none;
    box-shadow: none;
}

.reveal section .img-attribution {
    font-size: 75%;
    color: grey;
}

.reveal section .img-attribution a {
    color: grey;
}

.reveal .presentation-details {
    bottom: 5px;
    left: 5px;
    padding: 20px 0 10px 50px;
    position: absolute;
    z-index: 100;
    color: grey;
    font-size: 60%;
}

.reveal .presentation-details p {
    font-size: 50%;
}
.reveal .presentation-details a {
    color: #75715E;
    color: grey;
}


.reveal .inverted h1, .reveal .inverted h2, .reveal .inverted h3, .reveal .inverted h4, .reveal .inverted h5, .reveal .inverted h6 {
    color: white;
}

.reveal .inverted h1 {
    text-shadow: 0px 0px 16px black;
}

.reveal .inverted h2, .reveal .inverted h3, .reveal .inverted h4, .reveal .inverted h5, .reveal .inverted h6 {
    text-shadow: 0px 0px 12px black;
}

.reveal .inverted {
    color: white;
    text-shadow: 0px 0px 8px black;
}


.reveal .slide-number {
    font-size: 25px;
    color: black;
}

.reveal kbd {
    padding: 0em 0.4em;
    border: 3px solid #AAA;
    font-size: 90%;
    font-family: "SourceCodePro", monospace;
    background-color: #F0F0F0;
    color: #202020;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 0.1em;
    text-shadow: 0px 2px 0px #FFF;
    white-space: nowrap;
}

.reveal blockquote {
    border: none;
    box-shadow: none;
    font-size: 150%;
}

.reveal blockquote::before {
    content: "«\00A0";
}

.reveal blockquote::after {
    content: "\00A0»";
}

.reveal div.bg-color-dark-coffee {
    background-color: #1A0E0E;
}
